$color-primary: #3faaf5;

$color-success: #13ce66;
$color-warning: #f7ba2a;
$color-danger: #ff4949;
$color-info: #50bfff;

$color-white: #fff;
$color-black: #000;

$breakpoints: (
  'mobile': (
    min-width: 768px
  ),
  'desktop': (
    min-width: 960px
  )
);
