.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mu-icon-success:before {
  content: '\e63f';
}

.mu-icon-round-success:before {
  content: '\e644';
}

.mu-icon-data:before {
  content: '\e63e';
}

.mu-icon-female:before {
  content: '\e640';
}

.mu-icon-male:before {
  content: '\e641';
}

.mu-icon-menu:before {
  content: '\e642';
}

.mu-icon-date:before {
  content: '\e643';
}

.mu-icon-star-on:before {
  content: '\e635';
}

.mu-icon-heart:before {
  content: '\e636';
}

.mu-icon-edit:before {
  content: '\e637';
}

.mu-icon-star-off:before {
  content: '\e638';
}

.mu-icon-share-to:before {
  content: '\e639';
}

.mu-icon-solid-down:before {
  content: '\e63a';
}

.mu-icon-solid-left:before {
  content: '\e63b';
}

.mu-icon-solid-right:before {
  content: '\e63c';
}

.mu-icon-solid-up:before {
  content: '\e63d';
}

.mu-icon-circle-error:before {
  content: '\e632';
}

.mu-icon-circle-warning:before {
  content: '\e633';
}

.mu-icon-circle-info:before {
  content: '\e634';
}

.mu-icon-round-close1:before {
  content: '\e62c';
}

.mu-icon-round-facebook:before {
  content: '\e62d';
}

.mu-icon-circle-success:before {
  content: '\e62e';
}

.mu-icon-round-info-bold:before {
  content: '\e62f';
}

.mu-icon-round-rewards:before {
  content: '\e630';
}

.mu-icon-round-info:before {
  content: '\e631';
}

.mu-icon-round-close:before {
  content: '\e62a';
}

.mu-icon-close:before {
  content: '\e62b';
}

.mu-icon-circle-minus-bold:before {
  content: '\e626';
}

.mu-icon-circle-plus-bold:before {
  content: '\e627';
}

.mu-icon-cart:before {
  content: '\e629';
}

.mu-icon-refer:before {
  content: '\e628';
}

.mu-icon-settings:before {
  content: '\e625';
}

.mu-icon-profile:before {
  content: '\e61b';
}

.mu-icon-notifica:before {
  content: '\e61d';
}

.mu-icon-gift:before {
  content: '\e61e';
}

.mu-icon-logout:before {
  content: '\e61f';
}

.mu-icon-doctor:before {
  content: '\e620';
}

.mu-icon-rewards:before {
  content: '\e621';
}

.mu-icon-union:before {
  content: '\e622';
}

.mu-icon-rx:before {
  content: '\e623';
}

.mu-icon-tips:before {
  content: '\e624';
}

.mu-icon-circle-right:before {
  content: '\e61a';
}

.mu-icon-circle-left:before {
  content: '\e619';
}

.mu-icon-circle-plus:before {
  content: '\e615';
}

.mu-icon-circle-minus:before {
  content: '\e618';
}

.mu-icon-bag:before {
  content: '\e617';
}

.mu-icon-right:before {
  content: '\e610';
}

.mu-icon-left:before {
  content: '\e60f';
}

.mu-icon-up:before {
  content: '\e613';
}

.mu-icon-down:before {
  content: '\e614';
}

.mu-icon-arrow-up:before {
  content: '\e60b';
}

.mu-icon-arrow-down:before {
  content: '\e60a';
}

.mu-icon-arrow-left:before {
  content: '\e607';
}

.mu-icon-arrow-right:before {
  content: '\e608';
}

.mu-icon-loading:before {
  content: '\e606';
}

.mu-icon-search:before {
  content: '\e604';
}

.mu-icon-musely:before {
  content: '\e603';
}
