/* Musely Variables */

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs': (
    max-width: $--sm - 1
  ),
  'sm': (
    min-width: $--sm
  ),
  'md': (
    min-width: $--md
  ),
  'lg': (
    min-width: $--lg
  ),
  'xl': (
    min-width: $--xl
  )
);

$--breakpoints-spec: (
  'xs-only': (
    max-width: $--sm - 1
  ),
  'sm-and-up': (
    min-width: $--sm
  ),
  'sm-only': '(min-width: #{$--sm}) and (max-width: #{$--md - 1})',
  'sm-and-down': (
    max-width: $--md - 1
  ),
  'md-and-up': (
    min-width: $--md
  ),
  'md-only': '(min-width: #{$--md}) and (max-width: #{$--lg - 1})',
  'md-and-down': (
    max-width: $--lg - 1
  ),
  'lg-and-up': (
    min-width: $--lg
  ),
  'lg-only': '(min-width: #{$--lg}) and (max-width: #{$--xl - 1})',
  'lg-and-down': (
    max-width: $--xl - 1
  ),
  'xl-only': (
    min-width: $--xl
  )
);

/* Size
-------------------------- */
$--size-base: 14px !default;

/* z-index
-------------------------- */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

@import './font.scss';
@import './color.scss';
@import './border.scss';
@import './transition.scss';
@import './loading.scss';

// Background
$--background-color-base: #f5f7fa !default;
/* Disable base
-------------------------- */
$--disabled-fill-base: $--background-color-base !default;
$--disabled-color-base: $--color-text-placeholder !default;
$--disabled-border-base: $--border-color-light !default;
@import './alert.scss';
@import './box.scss';
@import './link.scss';
@import './badge.scss';
@import './rate.scss';
@import './avatar.scss';
@import './pop.scss';
@import './dialog.scss';
@import './message.scss';
@import './message-box.scss';
@import './tooltip.scss';
@import './dropdown.scss';
@import './form.scss';
@import './button.scss';
@import './input.scss';
@import './checkbox.scss';
@import './radio.scss';

/* Header
  --------------------------*/
$--header-padding: 0 20px !default;

/* Footer
  --------------------------*/
$--footer-padding: 0 20px !default;

/* Main
  --------------------------*/
$--main-padding: 20px !default;
